<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias alias="membersVO" type="com.mystudy.house.model.vo.MembersVO"/>
		<typeAlias alias="partnerVO" type="com.mystudy.house.model.vo.PartnerVO"/>
		<typeAlias alias="knowhowVO" type="com.mystudy.house.model.vo.KnowhowVO"/>	
		<typeAlias alias="knowlikeVO" type="com.mystudy.house.model.vo.KnowlikeVO"/>
		<typeAlias alias="knowscrapVO" type="com.mystudy.house.model.vo.KnowscrapVO"/>		
		<typeAlias alias="pictureVO" type="com.mystudy.house.model.vo.PictureVO"/>				
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.18.10:1521:xe"/>
        <property name="username" value="house"/>
        <property name="password" value="house"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/mystudy/house/mybatis/mapper.xml"/>
  </mappers>
</configuration>