<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<!-- 안지수 -->
		<typeAlias alias="membersVO" type="com.mystudy.house.model.vo.MembersVO"/>
		<typeAlias alias="partnerVO" type="com.mystudy.house.model.vo.PartnerVO"/>
		<typeAlias alias="knowhowVO" type="com.mystudy.house.model.vo.KnowhowVO"/>	
		<typeAlias alias="knowlikeVO" type="com.mystudy.house.model.vo.KnowlikeVO"/>
		<typeAlias alias="knowscrapVO" type="com.mystudy.house.model.vo.KnowscrapVO"/>	
		<typeAlias alias="knowcommentVO" type="com.mystudy.house.model.vo.KnowcommentVO"/>				
		<typeAlias alias="pictureVO" type="com.mystudy.house.model.vo.PictureVO"/>	
		<typeAlias alias="piclikeVO" type="com.mystudy.house.model.vo.PiclikeVO"/>	
		<typeAlias alias="picscrapVO" type="com.mystudy.house.model.vo.PicscrapVO"/>	
		<typeAlias alias="piccommentVO" type="com.mystudy.house.model.vo.PiccommentVO"/>	
		<!-- 서태우 -->	
		<typeAlias alias="HouseVO" type="com.mystudy.house.model.vo.HouseVO"/> 
	 	<typeAlias alias="RequestVO" type="com.mystudy.house.model.vo.RequestVO"/> 
	 	<typeAlias alias="ReviewsVO" type="com.mystudy.house.model.vo.ReviewsVO"/> 
	 	<typeAlias alias="ProductInquiryVO" type="com.mystudy.house.model.vo.ProductInquiryVO"/> 
	 	<typeAlias alias="GogakVO" type="com.mystudy.house.model.vo.GogakVO"/> 
	 	<typeAlias alias="Gogak_CommentVO" type="com.mystudy.house.model.vo.Gogak_CommentVO"/> 
	 	<typeAlias alias="Request_comVO" type="com.mystudy.house.model.vo.Request_comVO"/> 
	 	<typeAlias alias="RequestLikeVO" type="com.mystudy.house.model.vo.RequestLikeVO"/> 	 
	 	<!-- 임다은 -->
	 	<typeAlias alias="CartviewVO" type="com.mystudy.house.model.vo.CartviewVO"/>	
		<typeAlias alias="CartVO" type="com.mystudy.house.model.vo.CartVO"/>	
		<typeAlias alias="CategoryVO" type="com.mystudy.house.model.vo.CategoryVO"/>	
		<typeAlias alias="ProductImgVO" type="com.mystudy.house.model.vo.ProductImgVO"/>	
		<typeAlias alias="ProductVO" type="com.mystudy.house.model.vo.ProductVO"/>	
		<typeAlias alias="OrderCkVO" type="com.mystudy.house.model.vo.OrderCkVO"/>	
		<typeAlias alias="myscrapVO" type="com.mystudy.house.model.vo.myscrapVO"/>	
		<!-- 조아현 -->	 
		<typeAlias alias="myinquiryVO" type="com.mystudy.house.model.vo.MyinquiryVO"/>
		<typeAlias alias="myinquirycommentVO" type="com.mystudy.house.model.vo.MyinquirycommentVO"/>
		<typeAlias alias="myinquirypageVO" type="com.mystudy.house.model.vo.MyinquirypageVO"/>
		<typeAlias alias="mypointVO" type="com.mystudy.house.model.vo.MypointVO"/>
		<typeAlias alias="myidperiodVO" type="com.mystudy.house.model.vo.MyidperiodVO"/>
		<typeAlias alias="myorderlistVO" type="com.mystudy.house.model.vo.MyorderlistVO"/>
		<typeAlias alias="categoryDetailVO" type="com.mystudy.house.model.vo.CategoryDetailVO"/>
		<typeAlias alias="productInsertVO" type="com.mystudy.house.model.vo.ProductInsertVO"/>
		<typeAlias alias="productInsertImgVO" type="com.mystudy.house.model.vo.ProductInsertImgVO"/>
		<typeAlias alias="productInsertInfoImgVO" type="com.mystudy.house.model.vo.ProductInsertInfoImgVO"/>
		<typeAlias alias="productListVO" type="com.mystudy.house.model.vo.ProductListVO"/>
		<typeAlias alias="productListCategoryVO" type="com.mystudy.house.model.vo.ProductListCategoryVO"/>
		<typeAlias alias="productUpdateListVO" type="com.mystudy.house.model.vo.ProductUpdateListVO"/>
		<typeAlias alias="deleteStatusVO" type="com.mystudy.house.model.vo.DeleteStatusVO"/>
		<typeAlias alias="productUpdatestockVO" type="com.mystudy.house.model.vo.ProductUpdatestockVO"/>	
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.18.10:1521:xe"/>
        <property name="username" value="house"/>
        <property name="password" value="house"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/mystudy/house/mybatis/mapper.xml"/>
  </mappers>
</configuration>