<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="house">
<!-- MembersDAO -->
<!-- 로그인 -->
<select id="login" parameterType="membersVO" resultType="membersVO">
SELECT * FROM MEMBERS WHERE ID = #{id} AND PW = #{pw}
</select>
<!-- 아이디 찾기 -->
<select id="findId" parameterType="membersVO" resultType="String">
SELECT ID FROM MEMBERS WHERE NAME = #{name} AND PHONE = #{phone} 
</select>
<!-- 회원정보 조회 -->
<select id="showInfo" parameterType="String" resultType="membersVO">
SELECT * FROM MEMBERS WHERE ID = #{id}
</select>
<!-- 회원정보 수정 -->
<update id="editInfo" parameterType="membersVO">
UPDATE MEMBERS SET NAME = #{name}, EMAIL = #{email}, ADDR = #{addr}, ADDR_DETAIL = #{addrDetail}, PHONE = #{phone} WHERE ID = #{id}
</update>
<!-- 프로필 이미지 변경 -->
<update id="changeProfileImg">
UPDATE MEMBERS SET PROFILE_IMG = #{profileImg} WHERE ID = #{id}
</update>
<!-- 비밀번호 변경 -->
<update id="changepw" parameterType="membersVO">
UPDATE MEMBERS SET PW = #{pw} WHERE ID = #{id}
</update>
<!--  회원가입 -->
<insert id="signup" parameterType="membersVO">
INSERT INTO MEMBERS (ID, PW, NAME, EMAIL, ADDR, ADDR_DETAIL, PHONE) VALUES 
(#{id}, #{pw}, #{name}, #{email}, #{addr}, #{addrDetail}, #{phone})
</insert>
<!-- 회원 탈퇴 -->
<delete id="withdraw" parameterType="String">
DELETE FROM MEMBERS WHERE ID = #{id}
</delete>
<!-- PartnerDAO -->
<!-- 판매자 신청 -->
<insert id="registerPartner" parameterType="partnerVO">
INSERT INTO PARTNER (PARTNER_NUM, ID, COMPANY_NAME, COMPANY_OWNER_NAME, COMPANY_ADDR, COMPANY_ADDR_DETAIL, COMPANY_PHONE, COMPANY_EMAIL, CRN, SHIPPING) VALUES 
(PARTNER_SEQ.NEXTVAL, #{id}, #{companyName}, #{companyOwnerName}, #{companyAddr}, #{companyAddrDetail}, #{companyPhone}, #{companyEmail}, #{crn}, #{shipping})
</insert>
<!-- KnowhowDAO -->
<!-- 전체 게시글 개수 구하기 -->
<select id="getTotalKnowhowCount" resultType="int">
SELECT COUNT(*) AS CNT FROM VW_KNOWHOW
</select>
<!-- 카테고리별 전체 게시글 개수 구하기 -->
<select id="getTotalKnowhowCountbyCategory" parameterType="String" resultType="int">
SELECT COUNT(*) AS CNT FROM VW_KNOWHOW WHERE CATEGORY = #{category}
</select>
<!-- 노하우 전체 조회: 최근인기순 -->
<select id="showAllKnowhow1" parameterType="map" resultType="knowhowVO">
SELECT * FROM
(SELECT ROWNUM R_NUM, 
K.* FROM (SELECT * FROM VW_KNOWHOW
ORDER BY CURRENT_LIKE_CNT DESC) K
) WHERE R_NUM BETWEEN #{begin} AND #{end}
</select>
<!-- 노하우 전체 조회: 역대인기순 -->
<select id="showAllKnowhow2" parameterType="map" resultType="knowhowVO">
SELECT * FROM
(SELECT ROWNUM R_NUM, 
K.* FROM (SELECT * FROM VW_KNOWHOW 
ORDER BY LIKE_CNT DESC) K
) WHERE R_NUM BETWEEN #{begin} AND #{end}
</select>
<!-- 노하우 전체 조회: 최신순 -->
<select id="showAllKnowhow3" parameterType="map" resultType="knowhowVO">
SELECT * FROM
(SELECT ROWNUM R_NUM, 
K.* FROM (SELECT * FROM VW_KNOWHOW 
ORDER BY REGDATE DESC) K
) WHERE R_NUM BETWEEN #{begin} AND #{end}
</select>
<!-- 노하우 전체 조회: 과거순 -->
<select id="showAllKnowhow4" parameterType="map" resultType="knowhowVO">
SELECT * FROM
(SELECT ROWNUM R_NUM, 
K.* FROM (SELECT * FROM VW_KNOWHOW 
ORDER BY REGDATE) K
) WHERE R_NUM BETWEEN #{begin} AND #{end}
</select>
<!-- 카테고리별 노하우 조회: 최근인기순 -->
<select id="showKnowhow1" parameterType="map" resultType="knowhowVO">
SELECT * FROM
(SELECT ROWNUM R_NUM, 
K.* FROM (SELECT * FROM VW_KNOWHOW 
WHERE CATEGORY = #{category}
ORDER BY CURRENT_LIKE_CNT DESC) K
) WHERE R_NUM BETWEEN #{begin} AND #{end}
</select>
<!-- 카테고리별 노하우 조회: 역대인기순 -->
<select id="showKnowhow2" parameterType="map" resultType="knowhowVO">
SELECT * FROM
(SELECT ROWNUM R_NUM, 
K.* FROM (SELECT * FROM VW_KNOWHOW 
WHERE CATEGORY = #{category}
ORDER BY LIKE_CNT DESC) K
) WHERE R_NUM BETWEEN #{begin} AND #{end}
</select>
<!-- 카테고리별 노하우 조회: 최신순 -->
<select id="showKnowhow3" parameterType="map" resultType="knowhowVO">
SELECT * FROM
(SELECT ROWNUM R_NUM, 
K.* FROM (SELECT * FROM VW_KNOWHOW 
WHERE CATEGORY = #{category}
ORDER BY REGDATE DESC) K
) WHERE R_NUM BETWEEN #{begin} AND #{end}
</select>
<!-- 카테고리별 노하우 조회: 과거순 -->
<select id="showKnowhow4" parameterType="map" resultType="knowhowVO">
SELECT * FROM
(SELECT ROWNUM R_NUM, 
K.* FROM (SELECT * FROM VW_KNOWHOW 
WHERE CATEGORY = #{category}
ORDER BY REGDATE) K
) WHERE R_NUM BETWEEN #{begin} AND #{end}
</select>
<!-- 노하우 작성 -->
<insert id="writeKnowhow" parameterType="knowhowVO">
INSERT INTO KNOWHOW
(KNOWHOW_IDX, ID, SUBJECT, CONTENT, CATEGORY )
VALUES (KNOWHOW_SEQ.NEXTVAL, #{id}, #{subject}, #{content}, #{category})
</insert>
<!-- 노하우 수정 -->
<update id="editKnowhow" parameterType="knowhowVO">
UPDATE KNOWHOW SET CATEGORY = #{category}, CONTENT = #{content}, SUBJECT=#{subject} WHERE KNOWHOW_IDX = #{knowhowIdx}
</update>
<!-- 노하우 상세 조회 -->
<select id="showKnowhowDetail" parameterType="String" resultType="knowhowVO">
SELECT * FROM VW_KNOWHOW_DETAIL WHERE KNOWHOW_IDX = #{idx}
</select>
<!-- 노하우 조회수 증가 -->
<update id="addKnowhowViews" parameterType="String">
UPDATE KNOWHOW SET VIEWS = (SELECT VIEWS + 1 FROM KNOWHOW WHERE KNOWHOW_IDX = #{idx}) WHERE KNOWHOW_IDX = #{idx}
</update>
<!-- 노하우 좋아요 여부 확인 -->
<select id="confirmknowlike" parameterType="knowlikeVO" resultType="String">
SELECT LIKE_NUM FROM KNOWLIKE WHERE KNOWHOW_IDX = #{knowhowIdx} AND ID = #{id}
</select>
<!-- 노하우 좋아요 -->
<insert id="likeKnowhow" parameterType="knowlikeVO">
INSERT INTO KNOWLIKE (LIKE_NUM, KNOWHOW_IDX, ID) VALUES (KNOWLIKE_SEQ.NEXTVAL, #{knowhowIdx}, #{id})
</insert>
<!-- 노하우 스크랩 여부 확인 -->
<select id="confirmknowscrap" parameterType="knowscrapVO" resultType="String">
SELECT SCRAP_NUM FROM KNOWSCRAP WHERE KNOWHOW_IDX = #{knowhowIdx} AND ID = #{id}
</select>
<!-- 노하우 스크랩 -->
<insert id="scrapKnowhow" parameterType="knowscrapVO">
INSERT INTO KNOWSCRAP (SCRAP_NUM, KNOWHOW_IDX, ID) VALUES (KNOWSCRAP_SEQ.NEXTVAL, #{knowhowIdx}, #{id})
</insert>
<!-- 노하우 삭제 -->
<delete id="deleteKnowhow" parameterType="String">
DELETE FROM KNOWHOW WHERE KNOWHOW_IDX = #{idx}
</delete>
<!-- 노하우 댓글 조회 -->
<select id="showKnowhowComments" parameterType="String" resultType="knowcommentVO">
SELECT * FROM VW_KNOWCOMMENT WHERE KNOWHOW_IDX = #{idx}
</select>
<!-- 노하우 대댓글 조회 -->
<select id="showKnowhowReply" parameterType="String" resultType="knowcommentVO">
SELECT * FROM VW_KNOWCOMMENT2 WHERE KNOWHOW_IDX IN (
SELECT KNOWCOM_IDX FROM KNOWCOMMENT WHERE KNOWHOW_IDX = #{idx})
</select>
<!-- 노하우 댓글 작성 -->
<insert id="writeKnowhowComment" parameterType="knowcommentVO">
INSERT INTO KNOWCOMMENT (KNOWCOM_IDX, KNOWHOW_IDX, CONTENT, ID)
 VALUES (KNOWCOMMENT_SEQ.NEXTVAL, #{knowhowIdx}, #{content}, #{id})
</insert>
<!-- 노하우 대댓글 작성 -->
<insert id="writeKnowhowComment2" parameterType="knowcommentVO">
INSERT INTO KNOWCOMMENT2 (COM_IDX, KNOWCOM_IDX, COMMENTS, ID)
 VALUES (KNOWCOMMENT2_SEQ.NEXTVAL, #{knowhowIdx}, #{content}, #{id})
</insert>
<!-- 노하우 대댓글 삭제 -->
<delete id="deleteKnowhowComment2" parameterType="String">
DELETE FROM KNOWCOMMENT2 WHERE COM_IDX = #{idx}
</delete>
<!-- 노하우 댓글 삭제 -->
<delete id="deleteKnowhowComment">
DELETE FROM KNOWCOMMENT WHERE KNOWCOM_IDX = #{idx}
</delete>
<!-- PictureDAO -->
<!-- 사진글 작성 -->
<insert id="writePicture" parameterType="pictureVO">
INSERT INTO PICTURE (PICTURE_IDX, ID, CONTENT, RESIDENCE, SPACE, SIZES, STYLE) VALUES 
(PICTURE_SEQ.NEXTVAL, #{id}, #{content}, #{residence}, #{space}, #{sizes}, #{style})
</insert>
<!--  사진글 조회 -->
<select id="showPicture" resultType="pictureVO">
SELECT * FROM PICTURE
</select>
</mapper>